<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30100">
        <setting id="location" type="video" label="30103" default="special://home/addons/service.boot.video/resources/intro.mp4"/>
        <setting id="delay" type="number" label="30105" default="0"/>
    </category>

</settings>
